body { background: #36a9c8; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 28px; display: flex; }
.block-cache-0 { color: #e76950; font-size: 14px; margin-bottom: 5px; }
.block-shipping-1 { color: #b55b84; font-size: 17px; margin-bottom: 5px; }
.block-notify-2 { color: #4541b1; font-size: 17px; margin-bottom: 5px; }
.block-cache-3 { color: #5f1b46; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #35ec7c; font-size: 17px; margin-bottom: 5px; }
.block-cluster-5 { color: #b30a3c; font-size: 20px; margin-bottom: 5px; }
.block-session-6 { color: #41e977; font-size: 20px; margin-bottom: 5px; }
.block-uploader-7 { color: #8e2042; font-size: 15px; margin-bottom: 5px; }
.block-config-8 { color: #864dfa; font-size: 16px; margin-bottom: 5px; }
.block-cart-9 { color: #df4e82; font-size: 21px; margin-bottom: 5px; }